.signHolder {
    width: 10px;
    display: inline-block;
    min-height: 5px;
}
.diceNumberInput{
    width: 50px;
}
.resultsLabel{
    margin: 16px 0;
}

.resultsInput {
    width: 100%;
}

.toastr{
    position: absolute;
    right: 15%;
    background: white;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
    
    /*box shaddow*/
    -webkit-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.5);
}
.toastr-divider {
    margin: 0;
}
.toastr .toastr-head, .toastr .toastr-body {
    padding: 5px 0;
}
.toastr .toastr-head {
    font-size: larger;
    font-size: 26px;
}
.toastr .toastr-head i{
    font-size: 18px;
}