<div class="container" layout="row">
  <div class="container well">
    <p>examples: "1d20+4", "3d6", "4d10-4"</p>
  </div>
  <form (ngSubmit)="onSubmit($event)" #diceForm="ngForm">
    <div class="form-group">
      <md-input type="number" class="form-control" min="1" align="end" [(ngModel)]="numberOf" required></md-input>
      <md-input-container>
        <label for="sides">d</label>

        <select class="form-control" required [(ngModel)]="selectedSide">
          <option *ngFor="let s of sides" [value]="s" [selected]="s==20">{{s}}</option>
        </select>
      </md-input-container>
      <!--<label for="modifier" class="signHolder">{{modifier < 0 ? "" : "+"}}</label>-->
      <md-input type="number" class="form-control" [(ngModel)]="modifier" required [value]>
        <span md-prefix>{{modifier < 0 ? "" : "+"}}</span>
      </md-input>
    </div>
    <button md-raised-button type="submit" class="md-button md-button-raised" color="accent">Roll</button>
  </form>
</div>

<!--TODO: make this a list-->
<div class="container" layout="row">
  <md-input type="text" color="secondary" [ngModel]="formula" disabled>
    <!--<span [ngModel]="answer"></span>-->
  </md-input>
</div>
<div>
  <md-input type="text" color="secondary" [ngModel]="answer" disabled></md-input>
</div>

<!-- <button (click)="rollDie()">Roll</button> -->