<div class="container">
  <form (ngSubmit)="onSubmit($event)" #diceForm="ngForm">
    <div class="form-group">
      <md-input type="number" class="form-control" [(ngModel)]="numberOf" required min="1"></md-input>
      <label for="sides">d</label>
      <select class="form-control" required [(ngModel)]="selectedSide">
          <option *ngFor="let s of sides" [value]="s" [selected]="s==20">{{s}}</option>
        </select>
      <md-input type="number" class="form-control" [(ngModel)]="modifier" required></md-input>
    </div>
    <button md-raised-button type="submit" class="md-button md-button-raised" color="accent">Roll</button>
  </form>
</div>
<div class="container">
  <textarea>{{answer}}</textarea>
</div>
<div class="container well">
  <p>ex: "1d20+4", "3d6", "4d10-4"</p>
</div>

<!-- <button (click)="rollDie()">Roll</button> -->